<mdc-dialog>
  <mdc-dialog-container>
    <mdc-dialog-surface>
      <mdc-dialog-title>Add a TODO</mdc-dialog-title>
      <mdc-dialog-content>
        <form
          [formGroup]="addForm"
          id="addAlarmForm"
          (ngSubmit)="onSubmit()"
          autocomplete="off"
          fxLayout="column"
        >
          <mdc-form-field fluid class="mt:3@xs">
            <mdc-text-field
              label="Label"
              formControlName="label"
              type="text"
              outlined
              required
            ></mdc-text-field>
            <mdc-helper-text persistent validation>*Required</mdc-helper-text>
          </mdc-form-field>

          <mdc-form-field fluid class="mt:3@xs">
            <mdc-text-field
              label="Date"
              formControlName="date"
              type="date"
              outlined
              required
            ></mdc-text-field>
            <mdc-helper-text persistent validation>*Required</mdc-helper-text>
          </mdc-form-field>

          <mdc-form-field fluid class="mt:3@xs">
            <mdc-text-field
              label="Tag"
              formControlName="tag"
              type="text"
              outlined
              required
            ></mdc-text-field>
            <mdc-helper-text persistent validation>*Required</mdc-helper-text>
          </mdc-form-field>
        </form>
      </mdc-dialog-content>
      <mdc-dialog-actions>
        <button mdcDialogButton mdcDialogAction="close" title="Cancel">
          Cancel
        </button>
        <button mdcDialogButton form="addAlarmForm" title="Add">Add</button>
      </mdc-dialog-actions>
    </mdc-dialog-surface>
  </mdc-dialog-container>
</mdc-dialog>
